* {
  font-family:Arial, Helvetica, sans-serif;
  background-color: rgb(52, 53, 73);
  text-align: left;
  justify-content: left;
  color: white;
}

h1 {
  font-weight: bolder;
  font-size: 40px;
}

#starter {
  width: 400px;
  height: auto;
}

p {
  text-align: left;
}

a {
  color: rgb(48, 18, 48);
  background-color: white;
  font-size: 24px;
}
